.submit-button {
	margin-top: 16px;
	width: 128px;
	height: 64px;
	background-image: url('./assets/widgets/large-button.png');
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}

.submit-button:active {
	background-image: url('./assets/widgets/large-button-pressed.png');
}

/*******
    Intro to binary widget
********/

#binary-widget-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.5em;
}

#binary-widget-toggle-digits {
	display: flex;
}

.digit-container {
	display: flex;
	flex-direction: column;
}

.digit {
	text-align: center;
	padding-top: 20px;
	width: 32px;
	height: 64px;
	background-image: url('./assets/widgets/binary-column.png');
}

.digit-container button {
	width: 32px;
	height: 32px;
	border: none;
	background-color: hsla(0, 0%, 0%, 0);
	cursor: pointer;
}

.digit-container button:nth-child(1) {
	background-image: url('./assets/widgets/plus-button.png');
}

.digit-container button:nth-child(1):active {
	background-image: url('./assets/widgets/plus-button-pressed.png');
}

.digit-container button:nth-child(3) {
	background-image: url('./assets/widgets/minus-button.png');
}
.digit-container button:nth-child(3):active {
	background-image: url('./assets/widgets/minus-button-pressed.png');
}

#binary-widget-value-display {
	width: 64px;
	height: 64px;
	background-image: url('./assets/widgets/binary-output.png');
	text-align: center;
	padding-top: 20px;
	margin-bottom: 16px;
}

/*******
    Converting binary widget
********/

#convert-widget-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 30px;
}

#convert-widget-input {
	padding: 8px;
	background-color: #2f362d;
	color: #51ab2f;
	border: 2px solid #000000;
}

#convert-widget-input::placeholder {
	opacity: 1;
}

#convert-widget-input:focus {
	border: 2px solid #50ab2fa4;
	outline: none;
}

#convert-widget-output {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	user-select: text;
	background-color: #2f362d;
	border: 2px solid #000000;
	padding: 1rem 0px;
	margin: 1rem;
	width: 80%;
	height: 4rem;
	overflow-y: scroll;
}

/*******
    RGB widget
********/

#RGB-widget-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#RGB-widget-color-display {
	height: 100px;
	width: 200px;
	margin: 16px 0px;
	border: 2px solid #000000;
}

/*******
    Cmd widget
********/

#cmd-widget-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#cmd-widget-display {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 80%;
	background-color: #300a24;
	border: 2px solid #000000;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#cmd-widget-output {
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

#cmd-widget-dir-input {
	width: 0px;
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	border: none;
	caret-color: transparent;
	font-size: inherit;
}

#cmd-widget-dir {
	display: flex;
	align-items: center;
}

#cmd-widget-dir-caret {
	height: 1rem;
	width: 0.5rem;
	background-color: #ffffff;
	visibility: hidden;
}

.indent {
	margin-left: 15px;
}

.green {
	color: #4d9a06;
}

.blue {
	color: #346492;
}

.folder {
	color: #3465a4;
}

.errMsg {
	color: #ffffff;
}
